<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- partial('header') %>
  </head>
  <body>
    <div class="container">
      <div class="outter">
        <div class="middle">
          <div class="inner" style="height: 600px;">
            <div class="innerContainer" style="margin-bottom: 10px;">
              <a href="/"><img src="logo.png" alt="모두이" class="logo"></img></a>
            </div>
            <% registerError.forEach(function (err) { %>
              <label style="color: #d93025;"><%= err %></label><br />
            <% }); %>
            <form class="registerForm" action="/users" method="post" style="margin-top: 20px;">
              <input type="text" name="user[username]" value="<%= formData?formData.username:""; %>" placeholder="아이디를 입력하세요" autocomplete="username" class="longInput" style="width: calc(100% - 60px);"></input><label style="color: #d93025;">*</label><br></br>
              <input type="text" name="user[name]" value="<%= formData?formData.name:""; %>" placeholder="이름을 입력하세요" autocomplete="name" class="longInput" style="width: calc(100% - 60px);"></input><label style="color: #d93025;">*</label><br></br>
              <input type="text" name="user[email]" value="<%= formData?formData.email:""; %>" placeholder="이메일을 입력하세요" autocomplete="email" class="longInput"></input><br></br>
              <input type="password" name="password" value="" placeholder="비밀번호를 입력하세요" autocomplete="current-password" class="longInput" style="width: calc(100% - 60px);"></input><label style="color: #d93025;">*</label><br></br>
              <input type="password" name="passwordValidation" value="" placeholder="비밀번호를 다시 입력하세요" class="longInput" style="width: calc(100% - 60px);"></input><label style="color: #d93025;">*</label><br></br>
              <div class="innerContainer" style="position: absolute; width: 100%; bottom: 0;">
                <div style="position: absolute; bottom: 50px; width: calc(100% - 100px);">
                  <div class="innerContainer" style="position: relative;">
                    <div class="hoverer">
                      <a href="/"><button type="button">Home</button></a>
                      <button type="submit">다음</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
